.bar {
  color: #fff;
  padding: 0 1.5rem;
  margin-right: 0.5rem;
  position: relative;
  display: inline-block;
}

.tooltipText {
  position: absolute;
  visibility: hidden;
  width: fit-content;
  background-color: black;
  color: #fff;
  z-index: 100;
  left: -2rem;
  top: -2rem;
  width: max-content;
  padding: 0.3rem;
  border-radius: 5px;
}

.bar:hover .tooltipText {
  visibility: visible;
  cursor: pointer;
}
