.bar {
  color: #fff;
  padding: 0 2rem;
  margin-right: 0.5rem;
  position: relative;
}

.tooltipText {
  display: block;
  position: absolute;
  opacity: 0;
  width: fit-content;
  background-color: black;
  color: #fff;
  z-index: 100;
  top: 0;
  right: 50%;
  transform: translate(50%, -120%);
  width: max-content;
  padding: 0.3rem;
  border-radius: 5px;
  font-size: 0.8rem;
  transition: opacity 0.4s ease-in-out;
}

.bar:hover .tooltipText {
  opacity: 1;
  cursor: pointer;
}
