.slide_wrapper {
  width: 100%;
  height: 100%;
}

.slide_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slide_img_section {
  width: 70vw;
  height: 45vw;
  position: relative;
}

.left_icon,
.right_icon {
  position: absolute;
  top: 48%;
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
  border: none;
  background-color: transparent;
  transition: all 0.2s ease;
}

.left_icon {
  left: 0;
}

.right_icon {
  right: 0;
}

.slide_indicators {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.slide_indicator {
  width: 50px;
  height: 50px;
  background-color: grey;
  border-radius: 50%;
  cursor: pointer;
}

.slide_indicator_active {
  background-color: green;
}
