.todo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add_btn {
  padding: 0.8rem 1rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
}
