.form_container {
  display: flex;
  align-items: center;
}

.checkbox {
  width: 44px;
  height: 44px;
}

.edit_input {
  width: 500px;
  font-size: 1.1rem;
  padding: 0.6rem;
}

.input {
  padding: 0.6rem 6rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  font-size: 1.15rem;
}

.btn {
  padding: 0.8rem 1rem;
  border: none;
  margin: 0.1rem;
  background-color: #1981ff;
  color: #fff;
}

.task_list {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  list-style-type: none;
  margin: 0.5rem;
  font-size: 1.2rem;
  border: 1px solid gray;
  padding: 1rem;
  border-radius: 5px;
}

.checkbox_container {
  display: flex;
  align-items: center;
}
.task_list:hover {
  background-color: aliceblue;
  color: #000;
}

.todo_task_completed {
  text-decoration: line-through;
}
