.product_card {
  border: 2px solid black;
  padding: 1rem;
  width: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product_img_block {
  width: 10rem;
  height: fit-content;
  margin: 1rem auto;
}

.product_img {
  width: 100%;
  height: 12.5rem;
}

.product_details {
  display: flex;
  justify-content: space-between;
}

.cart_btn {
  padding: 0.5rem;
  margin-top: 1rem;
  border: none;
  color: #fff;
  border-radius: 5px;
  font-size: 1.1rem;
}

.cart_btn_add {
  background-color: rgb(3, 195, 3);
}

.cart_btn_remove {
  background-color: rgb(247, 53, 53);
}
