.ul {
  list-style-type: none;
  padding: 0;
  border: 1px solid black;
  margin: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-radius: 5px;
}

.li {
  background-color: #000;
  color: #fff;
  padding: 5px;
}

.li:hover {
  background-color: #fff;
  color: #000;
  outline: none;
  padding: 5px;
}

.li_select {
  background-color: #fff;
  color: #000;
  outline: none;
  padding: 5px;
}

.highlight {
  color: rgb(9, 216, 54);
}
